body {
  background-color: rgb(77, 77, 77);
}
.animationCustom {
  animation: move 20s linear 0.5s infinite;
  color: rgb(0, 255, 76);
}

@keyframes move {
  from {
    transform: translate(0px);
  }
  14% {
    transform: translate(110rem, 51rem);
    color: rgb(0, 255, 76);
  }
  28% {
    transform: translate(0px);
    color: yellow;
  }
  42% {
    transform: translate(50rem, 51rem);
    color: red;
  }
  56% {
    transform: translate(110rem, 25rem);
    color: rgb(255, 0, 255);
  }
  70% {
    transform: translate(70rem, -3rem);
    color: rgb(0, 255, 242);
  }
  84% {
    transform: translate(20rem, 51rem);
    color: blue;
  }
  100% {
    transform: translate(0px);
  }
}
